<div class="profile-menu">
  <div class="profile-header">
    <ion-icon name="person-circle" class="profile-header-icon"></ion-icon>
    <div class="profile-info">
      <h3 class="profile-name">{{ userName || 'Usuario' }}</h3>
      <p class="profile-email">{{ userEmail }}</p>
    </div>
  </div>

  <div class="menu-divider"></div>

  <button class="menu-item profile-item" (click)="goToProfile()">
    <ion-icon name="person" class="menu-icon"></ion-icon>
    <span>Ver Perfil</span>
  </button>

  <button class="menu-item logout-item" (click)="logout()">
    <ion-icon name="log-out" class="menu-icon"></ion-icon>
    <span>Cerrar Sesión</span>
  </button>
</div>
